body {
	background-color: #ddd;
	color: #000;
	font-size: 16px;
}
h1 {
	text-align: center;
	text-transform: uppercase;
}
/*User Header Menu*/
ul.userMenu li a {
	text-decoration: none;
	color: #000;
}
ul.userMenu {
	width: 90%;
	margin: 10px 5%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-radius: 4px;
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	display: block;
	color: black;
	list-style-type: none;
}
ul.userMenu li {
	float: left;
	margin: 10px 20px;

}
ul.userMenu ul {
	list-style-type: none;

}
ul.userMenu ul li {
	float: none;
	display: none;
}
/*Main Div*/
div.mainDiv {
	width: 90%;
	margin: 10px 5%;
}
div.errorMsg {
	width: 90%;
	margin: 0 5%;
	background: tan;
	border-radius: 4px;
	padding: 20px;
	color: #000;
}
div.errorMsg p {
	margin: 0;
	padding: 0;
}

/*Account Overview*/
div.acctOver {
	width: 90%;
}
ul.acctInfoOverview {
	list-style-type: none;
	display: block;
	width: 400px;
	float: left;
	padding: 0;
	border-radius: 4px;
}
ul.acctInfoOverview li {
	float: right;
	width: 50%;
	text-align: left;
	margin: 4px 0;
}
ul.acctInfoOverview li.overviewLabel {
	float: left;
	text-align: left;
}
div.overviewRulesList {
	display: block;
	width: 100%;
	float: left;
	margin: 0;
}
div.overviewRulesList ul {
	list-style-type: none;
	margin: 20px 0 0;
	padding: 0;
}
div.overviewRulesList ul li {
	margin: 8px 0;
}
div.overviewRulesList ul li a {
	text-decoration: none;
}
/*Change PIN*/
div.pinForm {
	width: 400px;
	padding: 10px 20px;
	border-radius: 4px;
}
div.pinForm ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.pinForm ul li {
	margin: 20px 0; 
}
div.pinForm ul li label {
	width: 155px;
	float: left;
	text-align: right;
	margin-right: 20px;
}
div.pinForm ul li input {
	width: 200px;
}
li.buttonRow {
	text-align: right;
}
li.buttonRow button {
	padding: 10px;
	color: #fff;
	background-color: #0080ff;
	border-radius: 3px;
	border: 1px solid #66b3ff;
}
/*Support Page*/
#supportDetailsInput {
	height: 100px;
}
/*Ticket Replays*/
div.ticketReplays {
	background-color: #eee;
	margin: 10px;
	width: 100%;
	color: #0f0f0f;
}
h3 {
	font-weight: normal;
	padding: 5px;
}
div.ticketReplays h3 {
	border-bottom: 1px solid #aaa;
}
div.ticketReplays select {
	width: 100px;
	padding: 3px 2px;
	margin: 0 5px 10px;
}
div.ticketReplays table {
	width: 100%;
}
div.ticketReplays table th {
	background-color: #555;
	padding: 3px;
	color: #fff;
}
div.ticketReplays table td {
	height: 30px;
	border-right: 1px solid #aaa;
}
div.ticketReplayButtons {
	border-top: 1px solid #aaa;
	text-align: right;
	padding: 5px;
}
div.ticketReplayButtons button {
	padding: 5px 20px;
}
/*Transactions*/
div.pinForm.transactions {
	width: 100%;
}
div.pinForm.transactions li {
	float: left;
}
div.ticketReplays.transactions {
	background: transparent;
}
div.ticketReplays.transactions div.transactionsSecondaryBar {
	width: 90%;
	float: left;
	color: #000;
	margin-bottom: 20px;
}
div.ticketReplays.transactions div.transactionsSecondaryBar input {
	float: right;
}
div.ticketReplays.transactions div.transactionsSecondaryBar select {
	float: left;
}
div.ticketReplays.transactions div.transactionsSecondaryBar label {
	float: left;
}

div.ticketReplays.transactions div.transactionsSecondaryBar label.filterTransLbl {
	text-align: right;
	float: right;
	margin-right: 10px;	
}
div.ticketReplays.transactions table {
	background: #fff; 
	width: 100%;
}
div.transactions table {
	
}
div.transactionsTable {
	display: block;
	width: 100%;
}
div.transactions ul li label {
	width: auto;
	text-align: left;

}
div.transactions ul li input {
	width: auto;
	margin-right: 40px;
}
div.emailTranscript {
	color: #000;
}
div.transactionsButtons span {
	color: #000;
}
div.customerDetailsForm {}
div.customerDetailsForm ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.customerDetailsForm ul li {
	display: inline;
	float: left;
	width: 23%;
	margin-right: 2%;
}
div.customerDetailsForm ul li label {
	width: 100%;
	float: left;
}
div.customerDetailsForm ul li input {
	width: 100%;
	float: left;
	padding: 5px;
}
div.customerDetailsForm button {
	padding: 10px;
	color: #fff;
	margin-top: 20px;
	background-color: #0080ff;
	border-radius: 3px;
	border: 1px solid #66b3ff;
}

div.mainDiv div.limits table thead tr th{
	text-align: center;
	padding: 5px 2px;

}
div.mainDiv div.limits table thead tr {
	background: #aaa;
	text-align: center;
}

div.mainDiv div.limits table tbody tr {	
	background: #fff;
	color: #000;
}

div.mainDiv div.limits table tbody tr:nth-child(2n) {
	background: #999;
}
div.mainDiv div.limits table tbody tr td {
	padding: 7px;
}
div.limits button {
	padding: 10px;
	color: #fff;
	margin-top: 20px;
	background-color: #0080ff;
	border-radius: 3px;
	border: 1px solid #66b3ff;
}
