<link rel="stylesheet" type="text/css" href="assets/styles/customerMenu.css"></link>

<h1>CashierMax Customer Menu</h1>
<cm-cm-nav></cm-cm-nav>
<h1>Account Details</h1>

<main>
	<div class="mainDiv">
		<div class="customerDetailsForm">
			<ul>
				<li>
					<label>First Name:</label>
					<input type="text" name="firstName" data-bind="firstName" />
				</li>
				<li>
					<label>Last Name:</label>
					<input type="text" name="lastName" data-bind="lastName" />
				</li>
				<li>
					<label>Gender:</label>
					<input type="text" name="gender" data-bind="gender" />
				</li>
				<li>
					<label>Birthday:</label>
					<input type="date" name="birthday" data-bind="birthday" />
				</li>

				<li>
					<label>Email:</label>
					<input type="text" name="email" data-bind="email" />
				</li>
				<li>
					<label>Cell Phone:</label>
					<input type="text" name="cellPhone" data-bind="cellPhone" />
				</li>
				<li>
					<label>Alternate Phone:</label>
					<input type="text" name="altPhone" data-bind="altPhone" />
				</li>
				<li>
					<label>Employer:</label>
					<input type="text" name="employer" data-bind="employer" />
				</li>

				<li>
					<label>Address Line 1:</label>
					<input type="text" name="address1" data-bind="address1" />
				</li>
				<li>
					<label>Address Line 2:</label>
					<input type="text" name="address2" data-bind="address2" />
				</li>
				<li>
					<label>Address Line 3:</label>
					<input type="text" name="address3" data-bind="address3" />
				</li>
				<li>
					<label>Address Line 4:</label>
					<input type="text" name="address4" data-bind="address4" />
				</li>

				<li>
					<label>Locality/City:</label>
					<input type="text" name="city" data-bind="city" />
				</li>
				<li>
					<label>Region/Island:</label>
					<input type="text" name="region" data-bind="region" />
				</li>
				<li>
					<label>Postcode:</label>
					<input type="text" name="postcode" data-bind="postcode" />
				</li>
				<li>
					<label>Country:</label>
					<input type="text" name="country" data-bind="country" />
				</li>
			</ul>
			<button>Edit</button>
		</div>
	</div>
</main>