<link rel="stylesheet" type="text/css" href="assets/styles/customerMenu.css"></link>

<h1>CashierMax Customer Menu</h1>
<cm-cm-nav></cm-cm-nav>
<h1>Account Overview</h1>

<main>
	<div class="mainDiv">
		<div class="acctOver">
			<ul class="acctInfoOverview">
				<li class="overviewLabel">Customer ID:</li>
				<li data-bind="text: customerID">145731</li>
				<li class="overviewLabel">Username:</li>
				<li data-bind="text: userName">jhuckaby</li>
				<li class="overviewLabel">Full Name:</li>
				<li data-bind="text: fullName">Jared Huckaby</li>
				<li class="overviewLabel">Cash Balances:</li>
				<li data-bind="text: cashBal">$105,017.00</li>
				<li class="overviewLabel">Bonus Balance:</li>
				<li data-bind="text: bonusBal">$10.00</li>
				<li class="overviewLabel">Last Sign In:</li>
				<li data-bind="text: lastSignIn">3/14/2016 03:55:48 AM</li>
			</ul>
		</div>
		<div class="overviewRulesList">
			<hr />
			<ul>
				<li><a href="#">House Rules</a></li>
				<li><a href="#">Responsible Gambling</a></li>
				<li><a href="#">Dispute Resolution</a></li>
				<li><a href="#">Self-Exclusion Information</a></li>
				<li><a href="#">Set Limits on Deposits, Withdrawals, Bets and/or Losses</a></li>
				<li><a href="#">Gaming Board of Omicron Persei 8</a></li>
			</ul>
		</div>
	</div>
</main>