<div class="sideMenu">
	<ul>
		<li><a href="#/home">Home</a></li>
		<li><a href="#/buy">Buy</a></li>
		<li><a href="#/redeem">Redeem</a></li>
		<li><a href="#/instant">Instant</a></li>
		<li class="timeCardMargin"><a href="#/timeCard">Time Card</a></li>
		<li><a href="#/drawer">Drawer</a></li>
		<li><a href="#/customers">Customers</a></li>
		<li><a href="#/facility">Facility</a></li>
		<li><a href="#/reports">Reports</a></li>
		<li><a href="#/employees">Employees</a></li>
		<li><a href="#/products">Products</a></li>
		<li class="logoutMargin"><a href="#/logout">Logout</a></li>
		<li><a href="#/exit">Exit</a></li>
	</ul>
</div>