<link rel="stylesheet" type="text/css" href="assets/styles/audit.css"></link>
<div class="auditMenu">
	<h1>CashierMax Audit Menu</h1>
	<select class="machineOpts">
		<option>Select a Machine Num</option>
		<option>Machine 1</option>
	</select>
	<table class="outerTable">
		<thead>
			<tr>
				<th>Meter</th>
				<th>Daily</th>
				<th>Period</th>
				<th>Master</th>
			</tr>
		</thead>
		<tbody>
			<table class="tableA">
				<thead></thead>
				<tbody>
					<tr>
						<td>Promo Credits</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<td>Ticket In</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<td>Cash In</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<td>Cash Out</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<td>Net Hold</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
				</tbody>
			</table>
			<table class="tableB">
				<thead></thead>
				<tbody>
					<tr>
						<td>Cash Out (Device)</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<td>Cash Out (Attendant)</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<td>Jackpot Out</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
				</tbody>
			</table>
			<table class="tableC">
				<thead></thead>
				<tbody>
					<tr>
						<td>Cash Played</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<td>Cash Won</td>
						<td>$0.00</td>
						<td>$0.00</td>
						<td>$0.00</td>
					</tr>
					<tr>
						<td>Cash Won (%)</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<table class="tableD">
				<thead></thead>
				<tbody>
					<tr>
						<td>Games Played</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Main Door Open</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Logic Door Open</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Bill Door Open</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
				</tbody>
			</table>
		</tbody>
	</table>
	<div class="dateInfo">
		<span>Last Meter Clear</span>
		<span>12/16/2015 02:14:21 PM</span>
		<span>12/16/2015 02:14:21 PM</span>
	</div>
	<div class="buttonsRow">
		<div>
			<a href="#">Print Daily  <span>1</span></a>
			<a href="#">Print Period  <span>2</span></a>
			<a href="#">Print Master  <span>3</span></a>
			<a href="#">Cancel Credits  <span>4</span></a>
		</div>
		<div>
			<a href="#">Meters  <span>5</span></a>
			<a href="#">Bills By Dollar  <span>6</span></a>
			<a href="#">Bills By Count  <span>7</span></a>
		</div>
		<a class="exit" href="#">99 Exit</a>
	</div>
</div>
